.App {
  text-align: center;
}
#shadow{
  font-family: 'Shadows Into Light', cursive;
}

#libre{
  font-family: 'Libre Baskerville', serif;
}
#propmt{
  font-family: 'Prompt', sans-serif;
}

#playfair{
  font-family: 'Playfair Display', serif;
}



